<nav class="indigo">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Q&A App</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Add New Question</a></li>
        <li><a href="sass.html">Questions list</a></li>
        <li><a href="badges.html">Profile</a></li>
        <li><a href="badges.html">Log in</a></li>
        <li><a href="badges.html">Log out</a></li>
      </ul>
    </div>
  </nav>
  

