.question-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .user-info {
    font-style: italic;
    color: #555;
  }

  .responses {
    margin-top: 10px;
  }

  .responses h4 {
    color: #333;
  }

  .comments-list {
    list-style-type: none;
    padding: 0;
  }

  .comment-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .comment-author {
    font-weight: bold;
  }

  .comment-content {
    margin: 0;
  }























.custom-form-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-form-table-container {
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.title {
  font-size: 20px;
  color: lightgray;
  margin-bottom: 20px;
}

.mat-column-select{
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}


.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}


.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}


.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
}


.example-card {
  max-width: 400px;
}


.btn-sml {
  height: 4vh;
}

