<div class="container custom-form-container mat-elevation-z2">

  <mat-form-field class="col-12">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div *ngIf="(metierToQuestionsService.modeQuestion$ | async)">
    <h1 class="title col-12">Les Questions</h1>
  </div>


  <div *ngIf="(metierToQuestionsService.modeMetier$ | async)">
    <h1 class="title col-12">Les Questions/{{metierToQuestionsService.nomMetier$ | async}}</h1>
  </div>

  <div class="row ps-3 pe-3 d-flex justify-content-between">
    <div class="container bootstrap snippets bootdey">

        <div class="row">
            <div class="row" *ngFor="let question of questionResponses" (click)="goToQuestion(question.id)">
                <div class="panel" >
                    <div class="panel-body p-t-10">
                        <div class="media-main" id="line">
                            <a class="pull-left" href="#">
                                <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                            </a>
                            <!-- <div class="pull-right btn-group-sm">
                                <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="deleteEmployee(question.id)">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div> -->
<!--                          <div class="card">-->
                          <div class="card" style="width: 100%">
                            <div class="card-header">{{question.vote?.length}} votes | today at 7:08 PM</div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>{{question.question}}</p>
                                <br>
                                <footer class="blockquote-footer">{{ question.user?.nom + " " + question.user?.prenom }}<cite title="Source Title">{{ "|" + question.user?.fonction}}</cite></footer>

                              </blockquote>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>




<!--      <div class="row" *ngIf="(metierToQuestionsService.modeMetier$ | async)">-->

<!--        <div class="row" *ngFor="let question of questionResponsesByMetier" (click)="goToQuestion(question.id)">-->
<!--          <div class="panel" >-->
<!--            <div class="panel-body p-t-10">-->
<!--              <div class="media-main" id="line">-->
<!--                <a class="pull-left" href="#">-->
<!--                  <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">-->
<!--                </a>-->
<!--                &lt;!&ndash; <div class="pull-right btn-group-sm">-->
<!--                    <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">-->
<!--                        <i class="fa fa-pencil"></i>-->
<!--                    </a>-->
<!--                    <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="deleteEmployee(question.id)">-->
<!--                        <i class="fa fa-close"></i>-->
<!--                    </a>-->
<!--                </div> &ndash;&gt;-->
<!--                <div class="card" >-->
<!--                  <div class="card-header">{{question.vote?.length}} | today at 7:08 PM</div>-->
<!--                  <div class="card-body">-->
<!--                    <blockquote class="blockquote mb-0">-->
<!--                      <p>{{question.question}}</p>-->
<!--                      <br>-->
<!--                      <footer class="blockquote-footer">{{ question.user?.nom + " " + question.user?.prenom }}<cite title="Source Title">{{ "|" + question.user?.fonction}}</cite></footer>-->

<!--                    </blockquote>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="clearfix"></div>-->
<!--              <hr>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


    </div>

  </div>
</div>
