<div class="navbar">
  <div class="wrapper">

    <div class="search">

    </div>

    <div class="items">

      <!--S'il a fini le travail d'abord et n'a pas ajoute son humeur le cas de finishHumeurState (j'attends adnan??????????)?????????-->
      <div *ngIf="appSatateService.authState.isAuthenticated"  class="item">
        <a #ajoutQuestion
           id="ajoutQuestion"
           data-bs-target="#question"
           data-bs-toggle="modal"
           class="btn ajout-button d-none d-md-block rounded-3 py-1 px-2">
          Ajouter Question
        </a>
      </div>



<!--      &lt;!&ndash;Conditon sur son etat du travail??????????&ndash;&gt;-->
<!--      <div *ngIf="!(startState | async)"  class="item">-->
<!--        <a #commencerTravail-->
<!--           id="commencerTravail"-->
<!--           data-bs-target="#commencer"-->
<!--           data-bs-toggle="modal"-->
<!--           class="btn commencer-button d-none d-md-block rounded-3 py-1 px-2"-->
<!--           (click)="CommencerTravailHandle()" >-->
<!--          Commencer Le travail-->
<!--        </a>-->
<!--      </div>-->

<!--      &lt;!&ndash;Conditon sur son etat du travail??????????&ndash;&gt;-->
<!--      <div  *ngIf="((startState | async) && !(finishState | async) && !(startBreakState | async))"   class="item">-->
<!--        <a #finirTravail-->
<!--           id="finirTravail"-->
<!--           data-bs-target="#finir"-->
<!--           data-bs-toggle="modal"-->
<!--           class="btn finir-button d-none d-md-block rounded-3 py-1 px-2"-->
<!--           (click)="FinirTravailHandle()">-->
<!--          Finir Le travail-->
<!--        </a>-->
<!--      </div>-->


<!--      &lt;!&ndash;Conditon sur son etat du travail??????????&ndash;&gt;-->
<!--      <div *ngIf="(!(startBreakState | async) && !(finishState | async) && (startState | async))"  class="item">-->
<!--        <a #commencerTravail-->
<!--           id="commencerRepos"-->
<!--           data-bs-target="#reposer"-->
<!--           data-bs-toggle="modal"-->
<!--           class="btn reposer-button d-none d-md-block rounded-3 py-1 px-2"-->
<!--           (click)="CommencerReposHandle()" >-->
<!--          Se Reposer-->
<!--        </a>-->
<!--      </div>-->

<!--      &lt;!&ndash;Conditon sur son etat du travail??????????&ndash;&gt;-->
<!--      <div  *ngIf="((startBreakState | async) && !(finishBreakState | async))"   class="item">-->
<!--        <a #finirTravail-->
<!--           id="finirRepos"-->
<!--           data-bs-target="#reprendre"-->
<!--           data-bs-toggle="modal"-->
<!--           class="btn reprendre-button d-none d-md-block rounded-3 py-1 px-2"-->
<!--           (click)="FinirReposHandle()">-->
<!--          Reprendre-->
<!--        </a>-->
<!--      </div>-->

      <div class="item">
        <app-user-menu></app-user-menu>
      </div>

    </div>
  </div>
</div>





<!--&lt;!&ndash;Le commencement du travail&ndash;&gt;-->
<!--<div class="modal fade" id="commencer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="commencerTravailTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="commencerTravailTitle">Debut du travail</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Voulez-vous debuter votre travail ?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>-->
<!--        <button type="button" (click)="confirmerCommencerTravail()" class="btn btn-primary" data-bs-dismiss="modal">Confirmer</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash;La fin du travail&ndash;&gt;-->
<!--<div class="modal fade" id="finir" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finirTravailTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="finirTravailTitle">Fin du travail</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Avez-vous fini votre travail ?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>-->
<!--        <button type="button" (click)="confirmerFinirTravail()" class="btn btn-primary" data-bs-dismiss="modal">Confirmer</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->






<!--&lt;!&ndash;Le commencement du repos&ndash;&gt;-->
<!--<div class="modal fade" id="reposer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="commencerReposTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="commencerReposTitle">Le Repos</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Voulez-vous reposer ?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>-->
<!--        <button type="button" (click)="confirmerCommencerRepos()" class="btn btn-primary" data-bs-dismiss="modal">Confirmer</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash;La fin du repos&ndash;&gt;-->
<!--<div class="modal fade" id="reprendre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finirReposTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="finirReposTitle">Reprise du Travail</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Voulez-vous  Reprendre le Travail?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>-->
<!--        <button type="button" (click)="confirmerFinirRepos()" class="btn btn-primary" data-bs-dismiss="modal">Confirmer</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--La fin du repos-->
<div class="modal fade" id="question" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="questionTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="questionTitle">Question</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">




        <form [formGroup]="fromSignUp" (ngSubmit)="handleAjout()">

          <div class="mb-4">
            <textarea class="form-control custom-form-field"
                   placeholder="Votre Question"
                   formControlName="question"
                   style="height: 150px; width: 100%;"
            ></textarea>
          </div>


          <div class="mb-4">
            <select id="fonction"
                    class="form-select form-control-lg"
                    formControlName="metierNom" required>

              <option value="Maçon">Maçon</option>
              <option value="Charpentier">Charpentier</option>
              <option value="Couvreur">Couvreur</option>
              <option value="Plombier">Plombier</option>
              <option value="Électricien du bâtiment">Électricien du bâtiment</option>
              <option value="Monteur en isolation">Monteur en isolation</option>
              <option value="Menuisier">Menuisier</option>
              <option value="Serrurier-métallier">Serrurier-métallier</option>
              <option value="Carreleur">Carreleur</option>
              <option value="Peintre en bâtiment">Peintre en bâtiment</option>
              <option value="Grutier">Grutier</option>
              <option value="Opérateur de machines de construction">Opérateur de machines de construction</option>
              <option value="Ingénieur en génie civil">Ingénieur en génie civil</option>
              <option value="Chef de chantier">Chef de chantier</option>
              <option value="Expert en sécurité sur les chantiers">Expert en sécurité sur les chantiers</option>
              <option value="Géomètre-topographe">Géomètre-topographe</option>
              <option value="Chef d'équipe">Chef d'équipe</option>
              <option value="Technicien en génie civil">Technicien en génie civil</option>
              <option value="Opérateur de centrale à béton">Opérateur de centrale à béton</option>
              <option value="Échafaudeur">Échafaudeur</option>
            </select>
          </div>



          <button [disabled]="fromSignUp.invalid" class="btn btn-primary btn-lg btn-block" type="submit"  data-bs-dismiss="modal">Ajouter</button>
        </form>

      </div>

    </div>


  </div>
</div>



